p.heading1 {color:green;font-size:50px;text-align:center}

div.welcome {
border: double black;
margin:5px;
padding:10px;
float:left
}

div.l1:link {color:blue}
div.l1:visited {color:green}
div.l1:active {color:grey}
div.l1:hover {color:red}