p.heading1 {
color:green;font-size:50px;text-align:center;
margin-top:50px
}

div.welcome {
border: double black;
padding:0px;
float:left;
width: 600px;
margin-left:25%;
}

ul.u {list-style-type:circle}

div.menu {margin-top:20px;margin-bottom:20px;padding:0px}

div.l1:link {color:blue}
div.l1:visited {color:green}
div.l1:active {color:grey}
div.l1:hover {color:red}